# Kernel
cache/*
robots.txt
sitemap.xml
kernel/db/config.php
*.swp
*.orig
*.htaccess

# Images & files
images/group/*
images/avatars/*
images/maths/*
images/customization/*
images/smileys/*
upload/*

# Modules
modules/flux/xml/*
modules/gallery/pics/*
modules/stats/cache/*

# Non official graphic templates
!templates
# Ignore template directories :
templates/*.*
templates/*
# Except following templates :
!templates/base
!templates/__default__

# Non official languages
!lang
# Ignore language directories :
lang/*.*
lang/*
# Except following languages :
!lang/french
!lang/english

# Editor folder/file projects
nbproject
*.sublime-project
*.sublime-workspace
*.tags
*.tags_swap
*.vscode

# Directories starting by a dot (.)
.*/

# nginx file configuration
nginx.conf
