/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.root-list,
.pages-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

#category-nav ul ul,
#module-pages .root-ul { padding-left: 1.618em; }

#category-nav .categories-item:hover { background-color: rgba(var(--main-rgb-d), 0.2); }

.categories-item {
	position: relative;
	flex: 1 1 auto;
	padding: 0.456em;
}

.has-children > [class*="toggle-menu-button-"] > .categories-item { padding-left: 1.618em; }

.has-children > [class*="toggle-menu-button-"] { cursor: pointer; }

.has-children > [class*="toggle-menu-button-"] > .categories-item:before {
	font: var(--fa-font-regular);
	content: '\f0fe';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.456em;
}

.has-children > [class*="toggle-menu-button-"] > .is-open-menu.categories-item:before { content:'\f146'; }

[class*="items-list-"]:not([class*="items-list-0"]) {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.reorder-items {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

[class*="items-list-"].show-list {
	opacity: 1;
	visibility: visible;
	height: auto;
}
